<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles belong to <a href="http://www.theonion.com/" target="_blank">TheOnion</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>